* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    font-family: 'Montserrat', sans-serif;
    */
a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    transition: all 0.6s;
}

a:hover {
    opacity: 0.6;
}

p {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1050px) {
    nav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 90px;
        position: fixed;
        background-color: #fff;
    }

    .nav-links {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .nav-links__link {
        font-size: 28px;
    }

    .nav-other--link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link__other1 {
        font-size: 22px;
        font-weight: 700;
    }

    header {
        background-image: url(img/architecture-gf0bd132f8_1920\ 1.png);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
    }

    .header-text {
        font-size: 64px;
        color: #fff;
        font-weight: 700;
        padding-left: 80px;
        width: 800px;
        padding-top: 277px;
    }

    .site-services {
        width: 100%;
        height: auto;
        padding: 100px;
        padding-bottom: 0;
    }

    .site-services__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-services {
        font-size: 64px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .site-services__link {
        font-size: 30px;
        color: #666;
    }

    .site-services__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        padding-top: 43px;
    }

    .site-services__card {
        background-image: url(img/card1.png);
        width: 23%;
        height: 380px;
        background-repeat: no-repeat;
        display: flex;
        padding: 0 36px;
        align-items: flex-end;
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .site-services__card1 {
        background-image: url(img/card2.png);
        width: 23%;
        height: 380px;
        background-repeat: no-repeat;
        display: flex;
        padding: 0 36px;
        align-items: flex-end;
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .site-services__card2 {
        background-image: url(img/card3.png);
        width: 23%;
        height: 380px;
        background-repeat: no-repeat;
        display: flex;
        padding: 0 36px;
        align-items: flex-end;
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .site-services__card3 {
        background-image: url(img/card4.png);
        width: 23%;
        height: 380px;
        background-repeat: no-repeat;
        display: flex;
        padding: 0 36px;
        align-items: flex-end;
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .site-services__card--text {
        font-size: 28px;
        color: #fff;
        font-weight: 700;
    }

    .site-5step-process {
        background-image: url(img/7589.png);
        padding: 76px 100px;
        width: 100%;
        height: 629px;
        background-repeat: no-repeat;
        margin-top: 67px;

    }

    .site-5step-process__text {
        font-size: 50px;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
    }

    .site-5step-process__text1 {
        padding-top: 15px;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
    }

    .site-5step-process__cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-top: 50px;
    }

    .site-5step-process__card {
        width: 18%;
        height: 250px;
        background-color: #ED8435;
        padding: 0 35px;
        border-radius: 1px;
    }

    .site-5step-process__card--text {
        font-size: 105px;
        font-weight: 700;
        color: #fff;
    }

    .site-5step-process__card--text2 {
        font-size: 23px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .site-our-work {
        padding: 0 100px;
    }


    .kitchens-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 52px;
    }

    .kitchen-photo {
        width: 48%;
        height: 300px;
        border-radius: 2px;
    }

    .registration-container {
        width: 100%;
        height: 117vh;
        background-image: url(img/Rectangle\ 38.png);
        background-repeat: no-repeat;
        padding: 0 100px;
        padding-top: 35px;
        margin-top: 70px;

    }

    .registration-container__text {
        font-size: 48px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .inputs-container {
        width: 45%;
    }

    .inputs-container__text {
        font-size: 60px;
        color: #fff;
    }

    .inputs-container__text1 {
        font-size: 36px;
        color: #fff;
    }

    .input1 {
        width: 100%;
        height: 60px;
        border-radius: 7px;
        border: none;
        outline-color: #f2f2f2;
        text-transform: uppercase;
        padding-left: 20px;
        font-weight: 700;
        font-size: 18px;
        margin-top: 20px;
    }

    .input2 {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        border: none;
        outline-color: #f2f2f2;
        text-transform: uppercase;
        padding-left: 20px;
        font-weight: 700;
        font-size: 18px;
        margin-top: 20px;
    }

    .registration-container__part {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .inputs-container__link {
        font-size: 36px;
        padding: 5px 35px;
        background-color: #ED8435;
        color: #fff;
        border-radius: 10px;
    }

    .registration-container__map--part {
        width: 40%;
    }
}